@import "tailwindcss";

*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
